# Unable to parse '[Undefined]' as a literal: malformed node or string on line 1:  in 'SET_GCODE_VARIABLE MACRO=PARK_FANS VARIABLE=tool_queue VALUE="[Undefined]"'

[delayed_gcode park_fans_loop]
gcode:
  {% set queued_tools   = printer["gcode_macro PARK_FANS"].tool_queue %}
  {% set fan_timers     = printer["gcode_macro PARK_FANS"].remaining_time %}
  {% set n_queued_tools = [] %}
  {% set n_fan_timers   = [] %}

  {% for time in fan_timers %}
    {% set tn = queued_tools[loop.index0]|int %}

    {% if time-1 == 0 %}
      # Only turn the fan off if the tool is not printing
      # Only turn the fan off if the tool is not printing
      {% if tn != printer.toolchanger.tool_number|int %}
        {% set extruder_id = "extruder" + tn|string if tn > 0 else "extruder" %}

        {% if printer[extruder_id].target %}
          M106 T{tn} S0
        {% endif %}
      {% endif %}

    {% else %}
      # Add tool in new list to be passed back to macro
      {% set wishiwashi = n_queued_tools.append(tn) %}
      # Decrement the timer by 1
      {% set zorua = n_fan_timers.append(time-1) %}
    {% endif %}
  {% endfor %}

  SET_GCODE_VARIABLE MACRO=PARK_FANS VARIABLE=tool_queue VALUE="{n_queued_tools|pprint}"
  SET_GCODE_VARIABLE MACRO=PARK_FANS VARIABLE=remaining_time VALUE="{n_fan_timers|pprint}"

  {% if n_queued_tools|length %}
    UPDATE_DELAYED_GCODE ID=park_fans_loop DURATION=1
    RESPOND TYPE=echo MSG="TOOLS: {n_queued_tools|string}, TIMES: {n_fan_timers|string}"
  {% endif %}

[gcode_macro PARK_FANS]
variable_tool_queue: []
variable_remaining_time: []
gcode:
  {% set tn          = params.T|int %}
  {% set percent     = params.PERCENT|int|default(30) %}
  {% set duration    = params.DURATION|int|default(30) %}
  {% set piloswine   = tool_queue.append(tn) %}
  {% set heracross   = remaining_time.append(duration) %}
  {% set extruder_id = "extruder" + tn|string if tn > 0 else "extruder" %}

  {% if printer[extruder_id].target %}
    M106 T{tn} S{((255/100)*(percent|float))|int}
    UPDATE_DELAYED_GCODE ID=park_fans_loop DURATION=1
  {% endif %}

[gcode_macro M107]
description: Override "M107" to allow multiple extruders.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
;Need rename is used with multi_fan
rename_existing: M107.1
gcode:
  M106 S0 {rawparams}


[gcode_macro _TOOLCHANGER_TURN_OFF_FANS]
description: Disable all extruder steppers
gcode:
  {% for tool_nr in printer.toolchanger.tool_numbers %}
    M107 T{tool_nr}
  {% endfor %}

[gcode_macro M104]
rename_existing: M104.1
description: [T<index>] [S<temperature>]
  Set tool temperature.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
  {% if params.T is defined %}
    {% set newparameters = "" %}
    {% set newparameters = newparameters ~ " T="~params.T %}
    {% if params.S is defined %}
      {% set newparameters = newparameters ~ " TARGET="~params.S %}
    {% endif %}
    SET_TOOL_TEMPERATURE{newparameters}
  {% else %}
    M104.1 {rawparams}
  {% endif %}

[gcode_macro M109]
rename_existing: M109.1
description: [T<index>] [S<temperature>]
  Set tool temperature and wait.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
  {% if params.T is defined %}
    {% set newparameters = "" %}
    {% set newparameters = newparameters ~ " T="~params.T %}
    {% if params.S is defined %}
      {% set newparameters = newparameters ~ " TARGET="~params.S %}
    {% endif %}
    SET_TOOL_TEMPERATURE WAIT=1 {newparameters}
  {% else %}
    M109.1 {rawparams}
  {% endif %}

# [gcode_macro M109]
# rename_existing: M109.9999
# description: [T<index>] [S<temperature>] [D<Deadband>]
#   Set tool temperature and wait.
#   T= Tool number [optional]. If this parameter is not provided, the current tool is used.
#   S= Target temperature
#   D= Dead-band, allows the temperature variance +/- the deadband
# variable_default_deadband: 1.0
# gcode:
#     {% set s = params.S|float %}
#     {% set deadband = default_deadband|float %}
#     {% if params.D is defined %}
#         {% set deadband = params.D|float %}
#     {% endif %}
#     {% set tn = params.T|default(printer.tool_probe_endstop.active_tool_number)|int %}
#     {% set tool = printer.toolchanger.tool_names[tn]|default('') %}
#     {% set extruder = printer[tool].extruder %}

#     SET_HEATER_TEMPERATURE HEATER={extruder} TARGET={s}
#     {% if s > 0 %}
#         TEMPERATURE_WAIT SENSOR={extruder} MINIMUM={s-(deadband/2)} MAXIMUM={s+(deadband/2)}   ; Wait for hotend temp (within D degrees)
#     {% endif %}


[gcode_macro TOOLCHANGE_DEMO]
description: [SAMPLES=<int>]
  Run random tool changes.
  SAMPLES= Number of changes to run, default is 20.
gcode:
    {% set t = params.SAMPLES|default(20)|int %}
    {% for n in range(t) %}
      T{ printer.toolchanger.tool_numbers | random }
    {% endfor %}

[gcode_macro PRINT_STATUS]
gcode:
  {% set obj = params.OBJ %}
  RESPOND TYPE=echo MSG="Status for M190 {obj} is { printer[obj] }"

[gcode_macro UNSAFE_LOWER_BED]
description: Lower the bed 100mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=100
  G0 Z0 F600
  M84

[gcode_macro UNSAFE_RAISE_BED]
description: Raise the bed 100mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z100 F600
  M84

[gcode_macro G32]
gcode:
  G28
  BED_MESH_CLEAR
  QUAD_GANTRY_LEVEL
  G28 Z
  {% if printer.idle_timeout.state == "Printing" %}
    BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5
  {% endif %}
  T0
  M104 S150
  G28 Z
  M104 S150
  NOZZLE_SCRUBBER_W
  CARTOGRAPHER_TOUCH TOLERANCE=0.08 SPEED=3
  # CARTOGRAPHER_THRESHOLD_SCAN SPEED=3 MAX=750 MIN=150 TOLERANCE=0.0750

[gcode_macro PRINT_START]
gcode:
  {% set TOOL_TEMP = params.TOOL_TEMP|default(150)|float %}
  {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
  
  M104 S150
  M190 S{ BED_TEMP }
  
  M109 S150
  G0 F30000
  G32
  M109 S0
  {% set LastSetTemp = 0 %}
  {% for tool_nr in printer.toolchanger.tool_numbers %}
    {% set tooltemp_param = 'T' ~ tool_nr|string ~ '_TEMP' %}
    {% if tooltemp_param in params %}
      M104 T{tool_nr} S{params[tooltemp_param]}
      {% set LastSetTemp = params[tooltemp_param] %}
    {% endif %}
  {% endfor %}
  # M109 T{params.TOOL} S{LastSetTemp}

  PRIME_LINES INITIAL_TOOL={params.TOOL|default(0)|float}
  # SKEW_PROFILE LOAD=CaliFlower

[gcode_macro PRINT_END]
gcode:
  M400                           ; wait for buffer to clear
  CLEAR_PAUSE

  M220 S100
  M221 S100
  SET_PRESSURE_ADVANCE ADVANCE=0
  {% if printer.extruder.temperature >= 180 %}
    M83
    G91
    G1 E-2 F2400                   ; retract filament
    G1 E-2 Z5 F2400
  {% endif %}
  M82
  G90
  UNSELECT_TOOL RESTORE_AXIS=""
  G0 Y325 X175 #Send the shuttle to the back ( mostly done as a hack for print_end) -> print end drop off tool, go in the back and restore z by unselect tool macro
  G0 Z 10
  # SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0

  TURN_OFF_HEATERS
  _TOOLCHANGER_TURN_OFF_FANS     ; turn off fan
  M140 S0                        ; turn off bed
  
  M117 Print done

