
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# ####################################################################
# 	mcu
# ####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_060016000E51323532393433-if00

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 12000 #7000
max_z_velocity: 400
max_z_accel: 3000 #2000


# This file contains common pin mappings for the BIGTREETECH Kraken.
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.

#####################################################################
# 	X/Y Stepper Settings
#####################################################################
# S1
[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PE6
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin:  tmc5160_stepper_x:virtual_endstop
position_endstop: 355
position_max: 355
homing_speed: 100
homing_retract_dist: 0
homing_positive_dir: true

# S2
[stepper_y]
step_pin: PE5
dir_pin: PE4
enable_pin: !PE3
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_endstop: 355
position_max: 355
position_min: -20
homing_speed: 100
homing_retract_dist: 0
homing_positive_dir: true

#####################################################################
# 	Z Stepper Settings
#####################################################################

# S5
[stepper_z]
step_pin: PG9
dir_pin: !PG10
enable_pin: !PG13
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 490 
position_min: -100 #-5
homing_speed: 20
second_homing_speed: 3
homing_retract_dist: 3


# S6
[stepper_z1]
step_pin: PG11
dir_pin: PD7
enable_pin: !PG12
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200


# S7
[stepper_z2]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200

# S8
[stepper_z3]
step_pin: PG15
dir_pin: PB6
enable_pin: !PG14
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200



# ####################################################################
# 	Bed Heater
# ####################################################################

# [heater_bed]
# heater_pin: PF5
# sensor_pin: PB0 # TB
# sensor_type: ATC Semitec 104GT-2
# #max_power: 0.6                                                     # Only needed for 100w pads
# min_temp: 0
# max_temp: 120
# control: pid                                                        # Do PID calibration after initial checks
# pid_kp: 68.453
# pid_ki: 2.749
# pid_kd: 426.122

[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: PF6
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB0
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769


# ####################################################################
# 	filiment sensor
# ####################################################################

#[filament_switch_sensor material_0]
#switch_pin: PF3

#[filament_switch_sensor material_1]
#switch_pin: PF4

#[filament_switch_sensor material_2]
#switch_pin: PF10

#[filament_switch_sensor material_3]
#switch_pin: PC0

# ####################################################################
# 	fans
# ####################################################################

# [heater_fan fan2]
# pin: PA0
# kick_start_time: 0.5
# heater: heater_bed


#[heater_fan fan1]
#pin: PA1

#[heater_fan fan2]
#pin: PA2

#[fan_generic fan3]
#pin: PA3

#[fan_generic fan4]
#pin: PA4

#[fan_generic fan5]
#pin: PA5

#[fan_generic fan6]
#pin: PA6
#tachometer_pin: PC1

#[fan_generic fan7]
#pin: PE8
#tachometer_pin: PG0


# ####################################################################
# 	stepers
# ####################################################################

[tmc5160 stepper_x]
cs_pin: PD6
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
diag1_pin: ^!PC15
driver_SGT: 1  # -64 is most sensitive value, 63 is least sensitive
run_current: 0.800
interpolate: False
sense_resistor: 0.022
stealthchop_threshold: 000000

[tmc5160 stepper_y]
cs_pin: PD5
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
diag1_pin: ^!PF0
driver_SGT: 1  # -64 is most sensitive value, 63 is least sensitive
run_current: 0.800
interpolate: False
sense_resistor: 0.022
stealthchop_threshold: 000000

[tmc5160 stepper_z]
cs_pin: PD2
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 1.6
interpolate: False
sense_resistor: 0.075
stealthchop_threshold: 0

[tmc5160 stepper_z1]
cs_pin: PA15
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 1.6
interpolate: False
sense_resistor: 0.075
stealthchop_threshold: 0

[tmc5160 stepper_z2]
cs_pin: PA9
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 1.6
interpolate: False
sense_resistor: 0.075
stealthchop_threshold: 0

[tmc5160 stepper_z3]
cs_pin: PA10
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 1.6
interpolate: False
sense_resistor: 0.075
stealthchop_threshold: 0

# ####################################################################
# 	board aliases
# ####################################################################

[board_pins]
aliases:
    # FPC header, Aliases EXP1 & EXP2 for mini12864
    EXP1_1=PG5, EXP1_2=PG4,
    EXP1_3=PG3, EXP1_4=PG2,
    EXP1_5=PD15, EXP1_6=PD14,
    EXP1_7=PD13, EXP1_8=PD12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PG8, EXP2_4=PE11,
    EXP2_5=PG7, EXP2_6=PE14,
    EXP2_7=PG6, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.


#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 43200 # 12hr

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25
#--------------------------------------------------------------------
speed: 200
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.0150
max_adjust: 150

[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[bed_mesh]
speed: 1000
horizontal_move_z: 3

# relative to probe
mesh_min: 25, 70
mesh_max: 325,335

probe_count: 9,9
mesh_pps: 2,3
algorithm: bicubic
#move_check_distance: 3
split_delta_z: .01
fade_start: 0.5
fade_end: 15.0

########################################
# Calibration
########################################

[gcode_macro _CALIBRATION_SWITCH]
variable_x: 229.00
variable_y: 353.00
variable_z: 10.00
gcode:

[tools_calibrate]
pin: PF1
travel_speed: 20
spread: 7
lower_z: 1.0
# The speed (in mm/sec) to move tools down onto the probe
speed: 1.5
# The speed (in mm/sec) to retract between probes
lift_speed: 4
final_lift_z: 3
samples:5
samples_result: median # median, average
sample_retract_dist:1
samples_tolerance:0.02
samples_tolerance_retries:2
# Decrease -> higher nozzle
trigger_to_bottom_z: -1.20

########################################
# Temps
########################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[include sb-leds.cfg]
[include sb-leds1.cfg]
[include sb-leds2.cfg]
[include sb-leds3.cfg]
[include sb-leds4.cfg]

[include tool-NHK0.cfg]
[include tool-NHK1.cfg]
[include tool-NHK2.cfg]
[include tool-NHK3.cfg]
[include tool-NHK4.cfg]



[include toolchanger-tool_detection.cfg]
[include toolchanger.cfg]
[include toolchanger-macros.cfg]
[include toolchanger-homing.cfg]

[include toolchanger-extra-macros.cfg]
[include toolchanger-usermacros.cfg]

#[include calibrate-offsets.cfg]
#tools

[include mainsail.cfg]

#[include KAMP_Settings.cfg]
#[include ./KAMP/Line_Purge.cfg]


#[include ktamv.cfg]

#[include ktamv-macros.cfg]

# ####################################################################
# 	macros
# ####################################################################
[exclude_object]


[force_move]
enable_force_move: True

[gcode_macro _TOOLCHANGER_CLEAN_NOZZLE]
#do nothing please
gcode:


[resonance_tester]
accel_chip: adxl345 NHK0
probe_points:
    175, 175, 20  # an example

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 42.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 29.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.102500, -0.027500, -0.027500, -0.025000, 0.022500, 0.012500, -0.020000, 0.055000, -0.067500
#*# 	  -0.090000, -0.030000, -0.067500, -0.015000, 0.050000, 0.052500, 0.052500, 0.057500, -0.060000
#*# 	  -0.085000, -0.027500, -0.025000, 0.012500, 0.052500, 0.050000, 0.050000, 0.052500, -0.070000
#*# 	  -0.135000, -0.050000, -0.020000, 0.002500, 0.042500, 0.020000, 0.015000, 0.007500, -0.095000
#*# 	  -0.105000, -0.052500, -0.022500, -0.020000, 0.017500, 0.015000, 0.012500, 0.012500, -0.102500
#*# 	  -0.110000, -0.062500, -0.027500, -0.032500, -0.015000, -0.017500, -0.032500, 0.005000, -0.072500
#*# 	  -0.112500, -0.065000, -0.097500, -0.102500, -0.065000, -0.070000, -0.100000, -0.030000, -0.102500
#*# 	  -0.100000, -0.037500, -0.067500, -0.097500, -0.057500, -0.020000, -0.035000, 0.007500, -0.062500
#*# 	  -0.092500, -0.052500, -0.062500, -0.065000, -0.022500, 0.015000, -0.017500, 0.015000, -0.055000
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 325.0
#*# min_y = 70.0
#*# max_y = 334.96000000000004
