[include mainsail.cfg]
[exclude_object]
#[include moonraker_obico_macros.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CB2]
serial: /tmp/klipper_host_mcu

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_250004000851313339373836-if00

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 5000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 64
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 300
position_max: 300

homing_speed: 80   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC13
interpolate: false
run_current: 1.2 #0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 64
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PF3
position_min: 0
##--------------------------------------------------------------------

##	Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

##	Uncomment for 300mm build
position_endstop: 300
position_max: 300

##	Uncomment for 350mm build
#position_endstop: 350
#position_max: 350

##--------------------------------------------------------------------
homing_speed: 80  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE3
interpolate: False
run_current: 1.2 #0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

#   Connected to MOTOR_6
#   Heater - HE0
#   Thermistor - T0
[extruder]
#step_pin: PC13
#dir_pin: !PF0
#enable_pin: !PF1
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 47.088
microsteps: 16
gear_ratio: 9:1
#full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
nozzle_diameter: 0.400
filament_diameter: 1.75
#heater_pin: PA2
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: ATC Semitec 104GT-2
#sensor_pin: PF4
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##	Try to keep pressure_advance below 1.0
pressure_advance: 0.032
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 50
max_extrude_only_distance: 700.00

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
## All builds use same Max Z
position_max: 250
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear  on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
full_steps_per_rotation: 200
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Front Right on Motor6
[stepper_z2]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
full_steps_per_rotation: 200
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PB5
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1                        # (BE0) Heater pin
sensor_pin: PB1                        # Sensor interface (TB) sensor pin
sensor_type: ATC Semitec 104GT-2       # ATC Semitec 104GT-2 temperature sensor type
#control: pid                           # Control method
## Heated bed temperature PID calibration command: "PID_CALIBRATE HEATER=heater_bed TARGET=100"
#pid_kp: 53.467                         # PID Kp value
#pid_ki: 0.931                          # PID Ki value
#pid_kd: 767.921                        # PID Kd value
min_temp: -20                          # Minimum temperature
max_temp: 135                          # Maximum temperature
max_power: 1.0                         # Maximum power



#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: PF7
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PF6
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

#####################################################################
# 	LED Control
#####################################################################

#[output_pin caselight]
# Chamber Lighting - HE2 Connector (Optional)
#pin: PA3
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
# 	Probe
#####################################################################
[safe_z_home]
home_xy_position: 150,150 # update for your machine
z_hop: 15

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_5FE89FE14E5737374D202020FF072727-if00 
x_offset: -20 # update with offset from nozzle on your machine
y_offset: 0 # update with offset from nozzle on your machine
#mesh_main_direction: x
#mesh_runs: 2

[resonance_tester]
accel_chip: beacon
probe_points: 90, 90, 20

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[bed_mesh]
speed: 1500
horizontal_move_z: 10
mesh_min: 50, 50
mesh_max: 250,250
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
algorithm: bicubic

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead

##--------------------------------------------------------------------
z_positions:
  -50, 18
  150, 348
  350, 18
points:
  50, 50
  150, 250
  250, 50


##--------------------------------------------------------------------

speed: 800
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

[force_move]
enable_force_move: True

[input_shaper]
#shaper_freq_x: 58.2
#shaper_type_x: 3hump_ei
#shaper_freq_y: 37.8
#shaper_type_y: mzv

[skew_correction]	
SET_SKEW XY=109.92,99.15,70.16	

[include nhk.cfg]

[output_pin led_light]
pin: PA3
pwm: True
cycle_time: 0.01  # default is fine in most cases
hardware_pwm: False  # Set to True if you're using hardware PWM and PA3 supports it
scale: 1.0
#####################################################################
# 	Macros
#####################################################################

[include macros/_macros.cfg]
[include KAMP_Settings.cfg]
[include shaketune.cfg]

[include AFC/*.cfg]
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.4791793744403239,
#*# 	  1.8303394720553128,
#*# 	  0.7843127234912465,
#*# 	  0.29573068170449807,
#*# 	  0.23244787126292488,
#*# 	  0.34571548210633135,
#*# 	  -0.05367587237400492,
#*# 	  -0.2556387049903418,
#*# 	  0.1573705462663435,
#*# 	  0.18618952270707523
#*# model_domain = 1.8289718431877765e-07,1.9333188146815108e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 57.954579
#*# model_offset = 0.00000
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 43.394
#*# pid_ki = 3.145
#*# pid_kd = 149.710
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 62.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 46.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.028773, -0.025008, -0.007552
#*# 	-0.014620, -0.006281, 0.009800
#*# 	-0.011165, -0.000989, 0.006075
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 111.548
#*# max_x = 188.452
#*# min_y = 107.859
#*# max_y = 191.804
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.778
#*# pid_ki = 1.530
#*# pid_kd = 455.210
