# OPTIONAL - Examples only

# Original written by Viesturs Zarins

[gcode_macro CLEAN_NOZZLE]
gcode:
    _TOOLCHANGER_CLEAN_NOZZLE

[gcode_macro TOOLCHANGE_DEMO]
gcode:
    {% for n in range(20) %}
      T{ printer.toolchanger.tool_numbers | random }
    {% endfor %}

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    QUAD_GANTRY_LEVEL
    G28 Z

[gcode_macro PRINT_STATUS]
gcode:
  {% set obj = params.OBJ %}
  RESPOND TYPE=echo MSG="Status for M190 {obj} is { printer[obj] }"

[gcode_macro UNSAFE_LOWER_BED]
description: Lower the bed 100mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=100
  G0 Z0 F600
  M84

[gcode_macro UNSAFE_RAISE_BED]
description: Raise the bed 100mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z100 F600
  M84

[gcode_macro PRINT_START]
gcode:
  #SET_LED LED=led RED=1 GREEN=0.4 BLUE=0
  M140 S{ params.BED_TEMP }
  M109 S150 ; Heat up nozzle to soften any leftover filament for homing.
  
  _TOOLCHANGER_PRINT_START_START
  M117 homing
  G28
  #M117 Cleaning the nozzle
  #_CLEAN_NOZZLE TEMP={ params.TOOL_TEMP|int - 20 }

  M117 Heating up the bed
  #TEMPERATURE_WAIT SENSOR="temperature_fan buildplate" MINIMUM={ params.BED_TEMP|float * 0.94 }
  M190 S{ params.BED_TEMP }

  M117 Calibrating bed

  #UNCOMMENT TO ENABLE QGL
  #M109 S150 ; Heat up nozzle to soften any leftover filament for homing.
  #G32 ; Home, gantry tram
  
  #BED_MESH_CLEAR
  #BED_MESH_CALIBRATE ADAPTIVE=1

  M109 S0 # Stop to heat, the actual printing may happen with a different hotend.

  # Preheat all the hotends in use
  {% for tool_nr in printer.toolchanger.tool_numbers %}
    {% set tooltemp_param = 'T' ~ tool_nr|string ~ '_TEMP' %}
    {% if tooltemp_param in params %}
      M104 T{tool_nr} S{params[tooltemp_param]}
    {% endif %}
  {% endfor %}

  {% if params.TOOL is defined %}
    T{params.TOOL}
  {% endif %}

  M117 Heating up the hotend
  G90 ; Absolute positioning
  G92 E0 ; Zero extruder
  M106 S100 ; Start part cooling fan, 255=100%
  G0 X345 Y175 Z1 F3000
  G0 Z0.2 F300 ;Move the nozle down
  M109 S{ params.TOOL_TEMP }
  G0 Z1 F300 ;Move up a bit
  _TOOLCHANGER_PRINT_START_END
  M117 Printing
  #SET_LED LED=led RED=0.7 GREEN=0.7 BLUE=0.5
  LINE_PURGE

[gcode_macro PRINT_END]
gcode:
    _TOOLCHANGER_PRINT_END_START
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament

    G91                            ; relative positioning
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 20) %}
        {% set z_safe = 20.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    G0 Z{z_safe} F3600             ; move nozzle up

    TURN_OFF_HEATERS
    _TOOLCHANGER_TURN_OFF_FANS
    M107                           ; turn off fan
    M140                           ; turn off bed

    G90                            ; absolute positioning
    #{% set tool = printer[printer.toolchanger.tool] %}
    #G0 X{tool.params_park_x} Y{tool.params_safe_y} Z350 F3600          ; park nozzle up top
    
    #Go back to tool0
    T0
    
    #M18                            ; Motors off
    M117 Print done
    #SET_LED LED=led RED=0 GREEN=0 BLUE=0
    _TOOLCHANGER_PRINT_END_END


[gcode_macro _TOOLCHANGER_TURN_OFF_FANS]
description: Disable all extruder steppers
gcode:
  {% for tool_nr in printer.toolchanger.tool_numbers %}
    M107 T{tool_nr}
  {% endfor %}

[gcode_macro LOAD_FILAMENT]
gcode:
  M117 Loading
  M104 S240
  G90 ; Absolute pos
  G1 X100 Y00 Z90 F1800 ; Move to center
  M104 S240 ;Heat up the filament
  TEMPERATURE_WAIT SENSOR={printer.toolhead.extruder} MINIMUM=240
  M83                            ; set extruder to relative
  G1 E50 F300                   ; extrude 5 cm
  G1 E50 F300                   ; extrude 5 cm
  G1 E-4 F1800                  ; retract some
  M82                           ; set extruder to absolute
  M400                          ; wait for buffer to clear
  M104 S0                       ; Stop heating
  M117 Loading done

[gcode_macro UNLOAD_FILAMENT]
gcode:
  M117 Unloading
  M104 S240 ;Heat up the filament
  TEMPERATURE_WAIT SENSOR={printer.toolhead.extruder} MINIMUM=240
  M83                           ; set extruder to relative
  G1 E5 F500                   ; extrude 5 mm
  G1 E-50 F1000                   ; retract 5 cm
  G1 E-50 F1000                   ; retract 5 cm
  M82                            ; set extruder to absolute
  M400                          ; wait for buffer to clear
  TURN_OFF_HEATERS
  M117 Unloading done


[gcode_macro UNLOAD_ONE_FILAMENT]
gcode:
  M117 Unloading {params.TOOL}
  M109 T{params.TOOL} S240 ;Wait until heated
  {% set start_extruder = printer.toolhead.extruder %}
  {% set tool_name = printer.toolchanger.tool_names[params.TOOL|int] %}
  {% set extruder = printer[tool_name].extruder %}
  M104 T{params.TOOL} S240 ;Heat up the filament
  TEMPERATURE_WAIT SENSOR={extruder} MINIMUM=240
  ACTIVATE_EXTRUDER EXTRUDER={extruder}
  M83                           ; set extruder to relative
  G1 E5 F500                   ; extrude 5 mm
  G1 E-50 F1000                   ; retract 5 cm
  G1 E-50 F1000                   ; retract 5 cm
  M82                            ; set extruder to absolute
  M400                          ; wait for buffer to clear
  TURN_OFF_HEATERS
  ACTIVATE_EXTRUDER EXTRUDER={start_extruder}
  M117 Unloading done

[gcode_macro UNLOAD_ALL_FILAMENT]
gcode:
  {% set start_extruder = printer.toolhead.extruder %}
  {% set tools = printer.toolchanger.tool_names %}
  M117 Unloading
  {% for tool in tools %}
    M104 T{printer[tool].tool_number} S240 ;Heat up the filament
  {% endfor %}
  {% for tool in tools %}
    M109 T{printer[tool].tool_number} S240 ;Wait until heated
    ACTIVATE_EXTRUDER EXTRUDER={printer[tool].extruder}
    M83                           ; set extruder to relative
    G1 E5 F500                     ; extrude 5 mm
    G1 E-50 F1000                   ; retract 5 cm
    G1 E-50 F1000                   ; retract 5 cm
  {% endfor %}
  M400                          ; Finish all th emoves
  M82                            ; set extruder to absolute
  TURN_OFF_HEATERS
  ACTIVATE_EXTRUDER EXTRUDER={start_extruder}
  M117 Unloading done

[gcode_macro CHANGE_NOZZLE]
gcode:
  M117 Nozzle change
  M104 S240
  G90 ; Absolute pos
  G1 X175 Y0 Z100 F1800 ; Move to front
  M109 S240 ;Heat up the filament
  M83                            ; set extruder to relative
  G1 E5 F250                   ; extrude 5 mm
  G1 E-50 F1000                ; retract 5 cm
  M82                            ; set extruder to absolute
  M117 Ready to swap

[gcode_macro PREFLIGHT_SETUP]
gcode:
  ; Preheat the bed to 110°C
  M140 S110      ; Set bed temperature to 110°C
  M190 S110      ; Wait for bed to reach 110°C
  ; Perform auto bed leveling
  M117 homing
  G28
  M117 tram
  G32
  M117 homing
  G28

  BED_MESH_CLEAR
  ; Load the default mesh
  ; BED_MESH_PROFILE LOAD="default" ; Enable the bed leveling mesh
  M117 ready
