# Written by Justin F. Hallett

[gcode_macro MOVE_TO_Z_SWITCH]
variable_x: 230.0
variable_y: 355.0
variable_z: 15.0
gcode:
  SAVE_GCODE_STATE NAME=Z_SWITCH_MOVE

  G90
  G0 Z{z+1}
  G0 X{x} Y{y}

  RESTORE_GCODE_STATE NAME=Z_SWITCH_MOVE

; Only define unless you have a zswitch
#[gcode_macro _TOOLCHANGER_ZSWITCH]
#variable_x: 104.00 # X Position directly over switch
#variable_y: -66.00 # Y Position directly over switch
#gcode:


; Only define if you want to run code before a homing
[gcode_macro _TOOLCHANGER_HOMING_START]
gcode:
  #STATUS_HOMING
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=True


; Only define if you want to run code after a homing
[gcode_macro _TOOLCHANGER_HOMING_END]
gcode:
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=False
  #STATUS_READY


[gcode_macro _TOOLCHANGER_CLEAR_PAUSE]
gcode:
  SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_PAUSE VARIABLE=active_tool VALUE=-1
  SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_PAUSE VARIABLE=temps VALUE=[]
  SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_PAUSE VARIABLE=crashed VALUE=0

[gcode_macro _TOOLCHANGER_CRASH_RESUME]
variable_active_tool: -1
variable_temps: []
gcode:
  M117 crashed... resuming
  INITIALIZE_TOOLCHANGER
  {% if printer.tool_probe_endstop.active_tool_number != active_tool %}
    T{active_tool}
  {% endif %}
  M117 sequential reheating
  {% for tool_nr in printer.toolchanger.tool_numbers %}
    {% if tool_nr in temps and temps[tool_nr] > 0 %}
      M109 T{tool_nr} S{temps[tool_nr]}
    {% endif %}
  {% endfor %}
  _TOOLCHANGER_CLEAR_PAUSE
  M117 resuming print


[gcode_macro _TOOLCHANGER_CRASH_PAUSE]
# if you have a custom RESUME gcode add
#  {% if printer["gcode_macro _TOOLCHANGER_CRASH_PAUSE"].crashed|int > 0 %}
#    _TOOLCHANGER_CRASH_RESUME
#  {% else %}
#    <your current macro gcode>
#  {% endif %}
variable_crashed: 0
gcode:
  M117 crashed... pausing
  SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_PAUSE VARIABLE=crashed VALUE=1
  SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_PAUSE VARIABLE=active_tool VALUE={printer.tool_probe_endstop.active_tool_number}
  {% for tool_nr in printer.toolchanger.tool_numbers %}
    SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_PAUSE VARIABLE=temps[{tool_nr}] VALUE={printer[printer.toolchanger.tool_names[tool_nr]].extruder.target}
    M104 T{tool_nr} S0
  {% endfor %}
  M117 paused


[gcode_macro _TOOLCHANGER_TOOL_BEFORE_CHANGE]
gcode:
  {% set tn = params.TN|string %}
  {% set tool = printer['tool ' + tn] %}
  RESPOND TYPE=echo MSG='Before change {tool.name}'
  ;STATUS_BUSY T={tool.tool_number}
  _TOOL_BEFORE_CHANGE {rawparams}


[gcode_macro _TOOLCHANGER_TOOL_AFTER_CHANGE]
gcode:
  {% set tn = params.TN|string %}
  {% set tool = printer['tool ' + tn] %}
  RESPOND TYPE=echo MSG='After change {tool.name}'
  _TOOL_AFTER_CHANGE {rawparams}


[gcode_macro _TOOLCHANGER_TOOL_DROPOFF]
gcode:
  {% set tn = params.TN|string %}
  {% set tool = printer['tool ' + tn] %}
  RESPOND TYPE=echo MSG='Dropping off {tool.name}'
  ;SET_FILAMENT_SENSOR SENSOR=filament_sensor_T{tool.tool_number} ENABLE=0
  _TOOL_DROPOFF {rawparams}
  ;STATUS_READY T={tool.tool_number}


[gcode_macro _TOOLCHANGER_TOOL_PICKUP]
gcode:
  {% set tn = params.TN|string %}
  {% set tool = printer['tool ' + tn] %}
  RESPOND TYPE=echo MSG='Picking up {tool.name}'
  ;STATUS_HEATING T={tool.tool_number}
  ;SET_FILAMENT_SENSOR SENSOR=filament_sensor_T{tool.tool_number} ENABLE=1
  _TOOL_PICKUP {rawparams}
  ;_TOOLCHANGER_CLEAN_NOZZLE
  ;STATUS_PRINTING T={tool.tool_number}

[gcode_macro _TOOLCHANGER_DISABLE_FILAMENT_SENSORS]
gcode:
  {% set toolnames = printer.toolchanger.tool_names %}
  {% for toolname in toolnames %}
    SET_GCODE_VARIABLE MACRO={toolname[5:]} VARIABLE=active VALUE=0
  {% endfor %}
