
[mcu NHK0]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_3033393834097D78-if00 #usb-Klipper_rp2040_4E363334320E4744-if00 #usb-Klipper_rp2040_3033393834097D78-if00
restart_method: command

[extruder]
step_pin: NHK0:gpio23
dir_pin: !NHK0:gpio24
enable_pin: !NHK0:gpio25
heater_pin: NHK0:gpio9
sensor_pin: NHK0:gpio29
sensor_type: ATC Semitec 104GT-2
control: pid
pid_Kp: 30.061
pid_Ki: 4.453
pid_Kd: 50.728
#pid_Kp=30.061 pid_Ki=4.453 pid_Kd=50.728
pullup_resistor: 2200
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 0
max_temp: 300
min_extrude_temp: 50
##	Try to keep pressure_advance below 1.0
pressure_advance: 0.022
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 50
max_extrude_only_distance: 700.00

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: NHK0:gpio0
tx_pin: NHK0:gpio1
interpolate: false
run_current: 0.6

[fan_generic NHK0_partfan]
pin: NHK0:gpio6

[fan_generic NHK0_mcufan]
pin: NHK0:gpio7

[heater_fan NHK0_hotend_fan]
pin: NHK0:gpio5
heater: extruder
heater_temp: 50.0
kick_start_time: 0.5

[tool NHK0]
tool_number: 0
extruder: extruder
fan: fan_generic NHK0_partfan
detection_pin: !NHK0:gpio10
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
params_park_x: -1.0
params_park_y: 1
params_park_z: 244.0
params_close_y: 30.0
params_safe_y: 120.0
params_input_shaper_freq_x: 84.6
params_input_shaper_type_x: 'zv'
params_input_shaper_freq_y: 49.8
params_input_shaper_type_y: 'zv'
params_input_shaper_damping_ratio_y: 0.058
params_input_shaper_damping_ratio_x: 0.058

# Change tool number if needed
#[tool_probe NHK0]
#pin: ^NHK0:gpio10
#tool: 0
#z_offset: -1.240 #the more positive the closer to the bed
#speed: 20 #5.0
#samples: 3
#samples_result: median
#sample_retract_dist: 2.0
#samples_tolerance: 0.075
#samples_tolerance_retries: 3
#activate_gcode:
#  _TAP_PROBE_ACTIVATE HEATER=extruder TEMP=150

[adxl345 NHK0]
cs_pin: NHK0:gpio27
spi_software_sclk_pin: NHK0:gpio18
spi_software_mosi_pin: NHK0:gpio20
spi_software_miso_pin: NHK0:gpio19
axes_map: x,z,y

#[filament_switch_sensor filament_sensor_NHK0]
#switch_pin: nest:PA2
#pause_on_runout: FALSE
#runout_gcode:
#  M117 Runout sensor NHK0 reports: Runout
#  SET_GCODE_VARIABLE MACRO=NHK0 VARIABLE=filament_consumed VALUE=1
#insert_gcode:
#  M117 Runout sensor NHK0 reports: Filament Detected
#  SET_GCODE_VARIABLE MACRO=NHK0 VARIABLE=filament_consumed VALUE=0

[temperature_sensor T0]
sensor_type: temperature_mcu
sensor_mcu: NHK0

[gcode_macro NHK0]
variable_active: 0
variable_filament_consumed: 0
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    {action_respond_info("Please home XYZ first")}
  {% else %}
    _TOOLCHANGER_DISABLE_FILAMENT_SENSORS
    SET_GCODE_VARIABLE MACRO=NHK0 VARIABLE=active VALUE=1
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SELECT_TOOL T=0
  {% endif %}

[gcode_macro T0]
variable_realtool: "NHK0"
variable_backuptool: ""
variable_color: ""
gcode:
  {% set consumed = printer["gcode_macro " ~ realtool].filament_consumed|int %}
  {% if consumed and backuptool %}
    { action_respond_info(realtool ~ " empty loading backup") }
    {backuptool}
  {% else %}
    { action_respond_info("Switching to " ~ realtool) }
    {realtool}
  {% endif %}
