[include leds.cfg]
#[include pause_resume_cancel.cfg]
#[include filament.cfg]
#[include globals.cfg]

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    Z_TILT_ADJUST
    G28
    G0 X150 Y150 Z30 F3600
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:
    {% set BED = params.BED|int %}
    {% set EXTRUDER = params.EXTRUDER|int %}
    {% set z_adjust = params.Z_ADJUST|default(0.0)|float %}
    {% set initial_tool = params.TOOL|default("0")|int %}
    {% set retract = 10 %}
    M117 Heating...
    M140 S{BED}                         ; set bed final temp
    M104 S{EXTRUDER}                         ; set extruder final temp
    M190 S{BED}                         ; wait for bed final temp
    M109 S{EXTRUDER}                         ; wait for extruder final temp
    LED_ON
    G28
    #CLEAN_HEAD
    G28 Z
    Z_TILT_ADJUST

    BED_MESH_CLEAR       # Clears old saved bed mesh (if any)
    bed_mesh_calibrate                 # Starts bed mesh

    G1 Z4
  LINE_PURGE

[gcode_macro CLEAN_HEAD]
gcode:
    M117 Cleaning nozzle...
    SAVE_GCODE_STATE NAME=clean
    G90
    G1 Z4
    G1 X184 Y302 F24000
    G1 X260 Y302 F18000
    G1 Z-0.5 F5000
    G1 X260 Y302 F5000
    G1 X184 Y302 F15000
    G1 X260 Y302 F15000
    G1 X184 Y302 F15000
    G1 X260 Y302 F15000
    G1 X184 Y302 F15000
    RESTORE_GCODE_STATE NAME=clean

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
    LED_OFF
    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0